:root {
    --primary-text-color: #0c2340;
    --primary-color: #AE9142;
    --secondary-text-color: #00843D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-text-color);
    font-family: helvetica, Arial, sans-serif;
}

header {
    padding: 0;
    margin: 0;
    background-color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin: 6px 0 6px 0;
    font-size: 30px;
    font-weight: normal;
    background-color: var(--primary-color);
    padding: 10px 0 0 0;
}

.logo-box {
    padding: 0 5px 0 30px;
}

.logo-text {
    color: var(--primary-text-color);
    font-weight: bold;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
}

header nav ul li a {
    padding: 10px 10px;
    color: var(--primary-color);
    font-weight:bold;
}

.link {
    border-bottom: solid var(--primary-color) 3px;
    padding: 3px 0;
    margin: 10px;
}

.hero {
    margin: 0;
    height: 150px;
    background-image: url(../img/02-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero-text {
    border: black solid 1px;
    padding: 10px;
    margin: 60px 20px 10px 0;
}

.title-section {
    float: left;
    width: 20%;
    padding: 10px;
    height: 230px;
    background-color: var(--primary-text-color);
}

.content {
    float: right;
    width: 80%;
    padding: 10px;
    height: 230px;
}

.about-me {
    display: flex;
    clear: both;
}

.labels {
    text-align: right;
    font-size: 23px;
    padding-right: 10px;
    padding-bottom: 25px;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

/*-- Footer Styles --*/

.footer-section {
    float: left;
    width: 20%;
    padding: 10px;
    height: 130px;
    background-color: var(--primary-text-color);
}
.footer-text {
    color: var(--primary-color);
}

.footer-label {
    text-align: right;
    font-size: 18px;
    padding-right: 10px;
    padding-bottom: 25px;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
}