:root {
    --primary-text-color: #0c2340;
    --primary-color: #AE9142;
    --secondary-text-color: #00843D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-text-color);
    font-family: helvetica, Arial, sans-serif;
}

header {
    padding: 0;
    margin: 0;
    background-color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin: 6px 0 6px 0;
    font-size: 30px;
    font-weight: normal;
    background-color: var(--primary-color);
    padding: 10px 0 0 0;
}

.logo-box {
    padding: 0 5px 0 30px;
}

.logo-text {
    color: var(--primary-text-color);
    font-weight: bold;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
}

header nav ul li a {
    padding: 10px 10px;
    color: var(--primary-color);
    font-weight:bold;
}

.link {
    border-bottom: solid var(--primary-color) 3px;
    padding: 3px 0;
    margin: 10px;
}

.hero {
    margin: 0;
    height: 150px;
    background-image: url(../img/code_background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero-box {
    border: solid 2px var(--primary-color);
    border-radius: 3px;
    padding: 5px 6px 0 6px;
    margin: 95px 20px 10px 0;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 30px;
    text-align: center;
}

.hero-box-text {
    margin: 0;
    padding: 0;
}

.labels {
    text-align: right;
    font-size: 23px;
    padding-right: 10px;
    padding-bottom: 25px;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

/*-- About Me Styles --*/

.about-me {
    display: flex;
    clear: both;
}

.content {
    float: right;
    width: 80%;
    padding: 15px 10px 10px 10px;
    height: 230px;
    background-color: var(--primary-text-color);
    color: var(--primary-color);
}

.about-me .title-section {
    float: left;
    width: 20%;
    padding: 15px 10px 10px 10px;
    height: 230px;
    background-color: var(--primary-text-color);
}

/*-- Work Section --*/

.work {
    display: flex;
}

.work .title-section {
    float: left;
    width: 20%;
    padding: 10px;
    height: 475px;
    background-color: var(--primary-text-color);
}

.projects {
    float: right;
    width: 80%;
    padding: 10px;
    height: 475px;
    padding: 5px;
    background-color: var(--primary-text-color);
}

.prj1 {
    display:center;
    width: 100%;
    height: 150px;
    border: solid 3px var(--primary-color);
    margin: 3px auto;
    background-image: url(../img/02-run-buddy.jpg);
    background-size: cover;
    background-position:top;
}

.prj-boxs {
    display: flex;
}

.prj2 {
    float: left;
    width: 50%;
    height: 150px;
    border: solid 3px var(--primary-color);
    margin: 3px 3px 3px 0;
    background-image: url(../img/02-portfolio-1.jpg);
    background-size: cover;
    background-position:inherit;
}

.prj3 {
    float: right;
    width: 50%;
    height: 150px;
    border: solid 3px var(--primary-color);
    margin: 3px 0 3px 3px;
    background-image: url(../img/02-portfolio-2.jpg);
    background-size: cover;
    background-position:top;
}

.prj4 {
    float: left;
    width: 50%;
    height: 150px;
    border: solid 3px var(--primary-color);
    margin: 3px 3px 3px 0;
    background-image: url(../img/02-portfolio-3.jpg);
    background-size: cover;
    background-position:left;
}

.prj5 {
    float: right;
    width: 50%;
    height: 150px;
    border: solid 3px var(--primary-color);
    margin: 3px 0px 3px 3px;
    background-image: url(../img/02-portfolio-4.jpg);
    background-size:cover;
    background-position: right;
}

/*-- Footer Styles --*/

.footer-title-section {
    float: left;
    width: 20%;
    padding: 10px;
    height: 130px;
    background-color: var(--primary-text-color);
}

.footer-label {
    text-align: right;
    font-size: 18px;
    padding-right: 10px;
    padding-bottom: 25px;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

.footer-info {
    width: 80%;
    float: right;
    background-color: var(--primary-text-color);
    height: 130px;
}

.footer-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 50px 15px 0 15px;
    margin: 0 20px 0 20px;
}

.footer-info ul li {
    color: var(--primary-color);
    font-weight: bold;
    /*border-bottom: solid 3px var(--primary-color);*/
    padding: 3px 7px;
    margin: 10px;
}

.footer-info ul li a {
    font-size: 40px;
    color: var(--primary-color);
}
